ExportEtran/Service References/EtranParsingServiceReference/ParsingService73.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ParsingLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ParsingLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParsingResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParsingResult" nillable="true" type="tns:ParsingResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParsingResult" nillable="true" type="tns:ArrayOfParsingResult" />
  <xs:complexType name="ParsingResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountProcessedRecords" type="xs:int" />
      <xs:element minOccurs="0" name="DataTableResult" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="ExeptionMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="tns:OperationList" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TableType" type="tns:TableTypeList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParsingResult" nillable="true" type="tns:ParsingResult" />
  <xs:simpleType name="OperationList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="I" />
      <xs:enumeration value="U" />
      <xs:enumeration value="D" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OperationList" nillable="true" type="tns:OperationList" />
  <xs:simpleType name="TableTypeList">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ParentTable" />
      <xs:enumeration value="ChildTable" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TableTypeList" nillable="true" type="tns:TableTypeList" />
</xs:schema>