ExportEtran/Service References/EtranParsingServiceReference/ParsingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ParsingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
      <xsd:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Common" />
      <xsd:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.ComponentModel" />
      <xsd:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ParsingLib" />
      <xsd:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IParsingService_ParseBill_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseBill" />
  </wsdl:message>
  <wsdl:message name="IParsingService_ParseBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseBillResponse" />
  </wsdl:message>
  <wsdl:message name="IParsingService_ParseVPU_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseVPU" />
  </wsdl:message>
  <wsdl:message name="IParsingService_ParseVPU_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseVPUResponse" />
  </wsdl:message>
  <wsdl:message name="IParsingService_ParseNK_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseNK" />
  </wsdl:message>
  <wsdl:message name="IParsingService_ParseNK_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseNKResponse" />
  </wsdl:message>
  <wsdl:message name="IParsingService_ParseZ_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseZ" />
  </wsdl:message>
  <wsdl:message name="IParsingService_ParseZ_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseZResponse" />
  </wsdl:message>
  <wsdl:message name="IParsingService_GetOperationList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationList" />
  </wsdl:message>
  <wsdl:message name="IParsingService_GetOperationList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOperationListResponse" />
  </wsdl:message>
  <wsdl:portType name="IParsingService">
    <wsdl:operation name="ParseBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IParsingService/ParseBill" message="tns:IParsingService_ParseBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParsingService/ParseBillResponse" message="tns:IParsingService_ParseBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseVPU">
      <wsdl:input wsaw:Action="http://tempuri.org/IParsingService/ParseVPU" message="tns:IParsingService_ParseVPU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParsingService/ParseVPUResponse" message="tns:IParsingService_ParseVPU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseNK">
      <wsdl:input wsaw:Action="http://tempuri.org/IParsingService/ParseNK" message="tns:IParsingService_ParseNK_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParsingService/ParseNKResponse" message="tns:IParsingService_ParseNK_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseZ">
      <wsdl:input wsaw:Action="http://tempuri.org/IParsingService/ParseZ" message="tns:IParsingService_ParseZ_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParsingService/ParseZResponse" message="tns:IParsingService_ParseZ_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOperationList">
      <wsdl:input wsaw:Action="http://tempuri.org/IParsingService/GetOperationList" message="tns:IParsingService_GetOperationList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IParsingService/GetOperationListResponse" message="tns:IParsingService_GetOperationList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IParsingService" type="tns:IParsingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ParseBill">
      <soap:operation soapAction="http://tempuri.org/IParsingService/ParseBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseVPU">
      <soap:operation soapAction="http://tempuri.org/IParsingService/ParseVPU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseNK">
      <soap:operation soapAction="http://tempuri.org/IParsingService/ParseNK" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseZ">
      <soap:operation soapAction="http://tempuri.org/IParsingService/ParseZ" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOperationList">
      <soap:operation soapAction="http://tempuri.org/IParsingService/GetOperationList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ParsingService">
    <wsdl:port name="BasicHttpBinding_IParsingService" binding="tns:BasicHttpBinding_IParsingService">
      <soap:address location="http://localhost:15355/ParsingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>