ExportEtran/Service References/EtranParsingServiceReference/ParsingService77.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data.Common" />
  <xs:complexType name="SqlConnection">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Common" base="q1:DbConnection">
        <xs:sequence>
          <xs:element minOccurs="0" name="FireInfoMessageEventOnUserErrors" type="xs:boolean" />
          <xs:element minOccurs="0" name="StatisticsEnabled" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SqlConnection" nillable="true" type="tns:SqlConnection" />
</xs:schema>