ExportEtran/Service References/EtranParsingServiceReference/ParsingService75.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" />
  <xs:import schemaLocation="http://localhost:15355/ParsingService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/ParsingLib" />
  <xs:element name="ParseBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="connection" nillable="true" type="q1:SqlConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ParsingLib" minOccurs="0" name="ParseBillResult" nillable="true" type="q2:ArrayOfParsingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseVPU">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="connection" nillable="true" type="q3:SqlConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseVPUResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ParsingLib" minOccurs="0" name="ParseVPUResult" nillable="true" type="q4:ArrayOfParsingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseNK">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="connection" nillable="true" type="q5:SqlConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseNKResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ParsingLib" minOccurs="0" name="ParseNKResult" nillable="true" type="q6:ArrayOfParsingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseZ">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System.Data.SqlClient" minOccurs="0" name="connection" nillable="true" type="q7:SqlConnection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseZResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ParsingLib" minOccurs="0" name="ParseZResult" nillable="true" type="q8:ArrayOfParsingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ParsingLib" minOccurs="0" name="GetOperationListResult" type="q9:OperationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>